<?xml version="1.0"?>
<!--*********************************************************************
         Bug fixed by Jonathan H. (in web.config only; see other pages for more comments and bug fixes)
         -Add admin files and unnathorized files
         -Prevent unnathorized users from logging in
         -Allow logged in users to log in and enter admin section
    *********************************************************************-->
<configuration>
  <location path="Manage.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="OpenAuthProviders.ascx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="RegisterExternalLogin.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="~/survey/NorthCampus.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="~/survey/HomePage.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="~/survey/CoralSprings.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="~/survey/CreateAQuestion.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
 
</configuration>
